* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  height: 98%;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 211) !important;
  display: block !important;
}

h1 {
  flex-basis: 50%;
  flex-wrap: nowrap;
  font-size: 32pt;
  margin-left: 1%;
}

h2 {
  font-size: 30pt !important;
  color: rgb(26, 24, 27);
  text-align: center;
  padding: 1%;
  margin: 0;
  ;
}

h3 {
  font-size: 35pt !important;
  color: rgb(57, 54, 255) !important;
  font-weight: bold !important;
}

.background-h3 {
  background-color: rgb(26, 24, 27);
  opacity: 90%;
  margin-right: 15%;
  margin-left: 15%;
}

h4 {
  font-size: 14pt;
}

p {
  font-family: 'Times New Roman', Times, serif;
  /* font-size: 15pt; */
}

 a {
    color: rgb(26, 24, 27) !important;
    text-decoration: none !important;
 }

 /* gives white text appearence when hovering over text links */
 a:hover {
    color: white !important;
    text-decoration: underline;
 }

footer {
  margin-bottom: 1%;
}

 header {
  display: flex;
  background-color: rgb(57, 54, 255);
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.portfolioTitle {
  flex-basis: 50%;
  flex-wrap: nowrap;
  font-size: 35pt;
  margin-left: 1%;
}

img {
  object-fit: fill;
  max-width: 100%;
}
/* sets flex boxes throughout page */
.flex {
  display: flex;
}

.headerFlex {
  display: flex;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 2 1 0;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

li {
  flex: 1 1 200px;
  font-size: 14pt;
}


/* Parameters for self portrait in about me section */
#portrait {
  position: relative;
  width: 230px;
  height: 300px;
  border: rgb(26, 24, 27) solid 3px;
  border-radius: 10% 10% 10% 10%;
  margin-left: 1%;
}

img {
   position: relative;
}

.snapshotContainer {
   padding: 1%;
   border-bottom: 3px solid rgb(26, 24, 27);
}

.snapshotHeader {
  position: absolute;
  font-size: 34pt;
  left: 20%;
  top: 7%;
  font-weight: bold;
}

.marginAdjustment {
  margin-top: 3%;
}

.logoContainer {
  height: 200px;
  width: 200px;
}

.snapshotTopics {
 flex-basis: 100%;
}

.snapshotFlex {
  flex-basis: 28%;
  text-align: -webkit-center;
}

.workHistoryLi {
  text-align: center;
  font-size: 14pt;
}

.snapshotUl {
  align-items: baseline;
  gap: 2%;
  margin: 0;
}

.achievments {
  font-size: 15pt;
  font-weight: bold;
}

.bioCloser {
  font-size: 16pt;
  font-weight: bold;
}

.carousel-control-prev-icon {
  background-color: rgb(26, 24, 27);
  opacity: 75%;
}

.carousel-control-next-icon {
  background-color: rgb(26, 24, 27);
  opacity: 75%;
}

.bioPage {
  margin-right: 15%;
  margin-top: 5%;
  padding-left: 5%;
  font-size: 20pt;
  border-left: 5px solid black;
}

.bioHeader {
  margin-top: 5%;
  padding-right: 3%;
}

.bioSig {
  font-size: 25pt;
}

.travelContainer {
  text-align: center;
  color: beige;
  max-width: 400px;
  max-height: 450px;
  border: black 3px solid;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(26, 24, 27)
}

.travelFlex {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  gap: 3%;
  justify-content: center;
}

.projectContainer {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
}

.appContainer {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 7%;
}

.workTitle {
  text-decoration: underline;
}

.cycleContainer {
  border: 2px rgb(26, 24, 27) solid;
  height: 600px;
  width: 600px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  border: 30px solid rgb(26, 24, 27);
  border-bottom: 50px solid black;
  border-top: 50px solid black;
  margin-left: 23%;
  margin-right: 23%;
  border-radius: 10px 10px 10px 10px;
}

.contactHeader {
  font-size: 2.5rem;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 3%;
}

.contactInfo {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 20pt;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
  margin: 6%;
  margin-bottom: 7%;
}

.contactBtn {
  padding: 1% !important;
  background-color: rgb(57, 54, 255);
  border-radius: 10px 10px 10px 10px;
  cursor:pointer;
    opacity: 0.6;
  transition: 0.3s;
}

.contactBtn:hover {
  opacity: 1;
}

/* flex box specs for work section */
.work-flexbox {
  position: relative;
  display: flex;
  flex-flow: wrap-reverse;
  /* border-left: 3px solid black; */
}
/* Sets basis for four smallest buttons in work section */
.container {
  position: relative;
  flex-basis: 33%;
  margin: 3%;
  text-align: center;
  color: rgb(26, 24, 27);
}
/* specs for large picture */
#top-container {
  position: relative;
  flex-basis: 88%;
  text-align: center;
  color: rgb(26, 24, 27);
  margin-left: 1%;
}
/* gurther card positioning and design for four smallest buttons */
.card {
  position: relative;
  border: 4px solid silver;
  margin-left: 4%;
}
/* further specs for largest button */
#top-card {
  position: relative;
  border: 4px solid silver;
  margin-left: 4%;
}
/* overlay text for small buttons */
.card-placeholder {
  position: absolute;
  bottom: 3%;
  left: 4.5%;
}
/* overlay text for large button */
.card-top {
  position: absolute;
  bottom: 2%;
  left: 4.5%;
}
/* overlay box for large button */
.top-descr {
  background-color: silver;
  padding: 2%;
  box-shadow: 3px 3px 10px;
}
/* overlay box for small buttons */
.card-descr {
  background-color: silver;
  padding: 2%;
  box-shadow: 3px 3px 10px;
}
/* bolds title of button description */
.project-descr {
  margin: 0;
  font-weight: bold;
  font-size: 15pt;
 }
/* font size for other descriptions in overlay text */
 .project-text {
  font-size: 10pt;
 }

 .footer-block {
  display: flex;
  background-color: rgb(57, 54, 255);
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

.footerMargin {
  margin-top: 2%;
  padding: 0;
}


.myButton{
    cursor:pointer;
    opacity: 0.6;
  transition: 0.3s;
}

.myButton:hover {opacity: 1}

/* Media screen section */
@media screen and (max-width: 1440px) {
 h3 {
   font-size: 35pt !important;
 }
 .background-h3 {
  margin-right: 10%;
    margin-left: 10%;
 }
 .carousel-container {
  margin-left: 16%;
    margin-right: 16%;
}
.contactContainer {
  margin-bottom: 10%;
}
}

@media screen and (max-width: 1365px) {
  p {
    font-size: 15pt;
  }

  .travelContainer {
    max-width: 320px;
  }
  .contactContainer {
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 1275px) {
  .bioCloser {
    font-size: 13pt;
  }
  .contactContainer {
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 1185px) {
 h3 {
  font-size: 30pt !important;
 }
 /* h2 {
  font-size: 25pt !important;
 } */
.carousel-container {
  margin-left: 14%;
    margin-right: 14%;
}

.achievments {
  font-size: 13pt;
}
.project-descr {
  font-size: 12pt;
}
}

@media screen and (max-width: 1135px) {
  .logoContainer {
    height: 150px;
    width: 150px;
  }
  #portrait {
    width: 225px;
    height: 245px;
  }
  .achievments {
    font-size: 11pt;
  }
  .bioCloser {
    font-size: 11pt;
  }
 li {
  font-size: 11pt;
 }
 .container {
  flex-basis: 45%;
 }
 .contactContainer {
  margin-bottom: 25%;
  margin-top: 15%;
 }
}

@media screen and (max-width: 1035px) {
  .travelContainer {
    max-width: 275px;
  }
}

@media screen and (max-width: 960px) {
  .flex {
    flex-wrap: wrap;
  }
  #portrait {
    width: 170px;
    height: 215px;
  }
  .snapshotUl {
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
  }
  .snapshotFlex {
    padding: 3%;
  }
  .carousel-container {
    margin-left: 9%;
      margin-right: 9%;
  }
  .bioPage {
    border-left: 0;
  }
  .bioHeader {
    margin-left: 5%;
    text-decoration: underline;
  }
  .bioSig {
    font-size: 20pt;
  }
  .travelContainer {
    max-width: 250px;
  }
  .contactContainer {
    margin-bottom: 25%;
  margin-top: 20%;
  }
}

@media screen and (max-width: 805px) {
  .carousel-container {
    margin-left: 5%;
      margin-right: 5%;
  }
  .snapshotFlex {
    flex-basis: 33%;
  }
  .travelFlex {
    flex-wrap: wrap;
  }
  .travelContainer {
    margin: 3%;
  }
  .container {
    flex-basis: 50%;
  }
  .contactContainer {
    margin-bottom: 30%;
  margin-top: 30%;
  }
}

@media screen and (max-width: 645px) {
  .portfolioTitle {
    font-size: 25pt;
  }
  h2 {
    font-size: 25pt !important;
  }
  .carousel-container {
    border: 20px solid rgb(26, 24, 27);
  border-bottom: 20px solid black;
  border-top: 20px solid black;
    margin: 0;
  }
  #portrait {
    width: 150px;
    height: 185px;
  }
  .logoContainer {
    width: 100px;
    height: 100px;
  }
  .snapshotUl {
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
  }
  .snapshotFlex {
    padding: 3%;
  }
  .achievments {
    font-size: 9pt;
  }
  .bioCloser {
    font-size: 9pt;
  }
 li {
  font-size: 9pt;
 }
 .contactContainer {
  margin-bottom: 38%;
margin-top: 38%;
}
.contactBtn {
  font-size: 14pt;
}
}

@media screen and (max-width: 550px) {
  .snapshotUl {
    display: block;
    padding: 0;
  }
  .achievments {
    font-size: 12pt;
  }
  .bioCloser {
    font-size: 12pt;
  }
 .carousel-container {
  border: 10px solid rgb(26, 24, 27);
  border-bottom: 10px solid black;
  border-top: 10px solid black;
 }
 h3 {
  font-size: 20pt !important;
 }
 .background-h3 {
  margin-right: 15%;
    margin-left: 15%;
 }
 ul {
  display: block;
  padding: 0 !important;
 }
 #portrait {
  text-align: -webkit-center;
 }
 .headerFlex {
  display: block;
 }
 .portfolioTitle {
  display: block;
  width: 100%;
  text-align: center;
 }
 li {
  font-size: 15pt;
 }
 .container {
  flex-basis: 85%;
 }
}

